<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wedding</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/wedding.css" />
  </head>
  <body>
    <%- include("header.ejs") %>
    <main class="container">
      <div
        class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary"
      ></div>
      <div class="row g-5">
        <div class="col-md-3">
          <div
            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          >
            <img
              src="/images/perfect-wedding.jpg"
              alt="Photo"
              width="200"
              height="250"
            />
          </div>
          <div class="col p-4 d-flex flex-column position-static category-post">
            <strong class="d-inline-block mb-2 text-primary-emphasis"
              >Nuntă</strong
            >
            <h3 class="mb-0">
              Ghid esențial pentru planificarea perfectă a nunții tale
            </h3>
            <div class="mb-1 text-body-secondary">Nov 12</div>
            <p class="card-text mb-auto">
              Navighează prin provocările planificării cu încredere! Aici vei
              găsi un ghid complet, începând cu alegerea locației și stabilirea
              bugetului, până la alegerea meniului și gestionarea stresului
              dinaintea marelui eveniment.
            </p>
            <a href="#" class="gap-1 icon-link-hover stretched-link">
              Citește tot articolul
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-arrow-right-short"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"
                />
              </svg>
            </a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
        <div class="col-md-3">
          <div
            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          >
            <img
              src="/images/photo-guest.jpg"
              alt="Photo"
              width="200"
              height="250"
            />
          </div>
          <div class="col p-4 d-flex flex-column position-static category-post">
            <strong class="d-inline-block mb-2 text-primary-emphasis"
              >Nuntă</strong
            >
            <h3 class="mb-0">Captura momentelor unice</h3>
            <div class="mb-1 text-body-secondary">Nov 12</div>
            <p class="card-text mb-auto">
              Află cum să alegi fotograful și cameramanul potrivit pentru a
              eternaliza fiecare emoție și moment special în imagini și
              videoclipuri care vor rămâne pentru totdeauna în inimile voastre.
            </p>
            <a href="#" class="gap-1 icon-link-hover stretched-link">
              Citește tot articolul
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-arrow-right-short"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"
                />
              </svg>
            </a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
        <div class="col-md-3">
          <div
            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          >
            <img
              src="/images/experiences.jpg"
              alt="Photo"
              width="200"
              height="250"
            />
          </div>
          <div class="col p-4 d-flex flex-column position-static category-post">
            <strong class="d-inline-block mb-2 text-primary-emphasis"
              >Nuntă</strong
            >
            <h3 class="mb-0">Experiențe personalizate la nuntă</h3>
            <div class="mb-1 text-body-secondary">Nov 12</div>
            <p class="card-text mb-auto">
              Cuplurile sunt din ce în ce mai interesate să aducă unicitate și
              personalitate în nunta lor. Poți explora moduri de a crea
              experiențe personalizate pentru cupluri și invitați, cum ar fi
              activități interactive, meniuri personalizate, amenajări speciale.
            </p>
            <a href="#" class="gap-1 icon-link-hover stretched-link">
              Citește tot articolul
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-arrow-right-short"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"
                />
              </svg>
            </a>
          </div>
          <div class="col-auto d-none d-lg-block"></div>
        </div>
        <div class="col-md-3">
          <div class="position-sticky" style="top: 2rem">
            <div class="p-4 mb-3 bg-body-tertiary rounded">
              <h4 class="fst-italic">Invitații online</h4>
              <p class="mb-0">
                Customize this section to tell your visitors a little bit about
                your publication, writers, content, or something else entirely.
                Totally up to you.
              </p>
            </div>

            <div>
              <h4 class="fst-italic">Articole recente</h4>
              <ul class="list-unstyled">
                <li>
                  <a
                    class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                    href="#"
                  >
                    <img
                      class="article"
                      src="/images/gift.jpg"
                      alt="Photo"
                      width="100%"
                      height="96"
                    />
                    <div class="col-lg-8">
                      <h6 class="mb-0">Idei de cadouri cununia civilă</h6>
                      <small class="text-body-secondary"
                        >January 15, 2023</small
                      >
                    </div>
                  </a>
                </li>
                <li>
                  <a
                    class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                    href="#"
                  >
                    <img
                      class="article"
                      src="/images/wedding.jpg"
                      alt="Photo"
                      width="100%"
                      height="96"
                    />
                    <div class="col-lg-8">
                      <h6 class="mb-0">
                        Ce tematică alegem pentru nunta noastră?
                      </h6>
                      <small class="text-body-secondary"
                        >January 14, 2023</small
                      >
                    </div>
                  </a>
                </li>
                <li>
                  <a
                    class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                    href="#"
                  >
                    <img
                      class="article"
                      src="/images/honey.jpg"
                      alt="Photo"
                      width="100%"
                      height="96"
                    />
                    <div class="col-lg-8">
                      <h6 class="mb-0">
                        Destinații exotice pentru luna de miere
                      </h6>
                      <small class="text-body-secondary"
                        >January 13, 2023</small
                      >
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include("footer.ejs") %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
